<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Raleway";
            background-color #20bf55;
            background-size: cover !important;
            repeat: no-repeat;
            background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
        }

        .text {
            display: block;
            justify-content: center;
            align-items: center;
        }

        .col {
            width: 100%
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="text">
        <div class="col">
            <h1>Interview Portal</h1>
        </div>
        <div class="col">
            Head Over to: <a href="http://localhost:3000/userdata/add">userdata/add</a>
        </div>
    </div>
</body>

</html>