<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/userData/updating" method="get">
        <label>Interviewer id: </label><input placeholder="id" value="" name="id" /><br>
        <label>Start Time : </label><input placeholder="hrs" value="" name="starth" />
        <input placeholder="min" value="" name="startm" /><br>
        <label>End Time : </label><input placeholder="hrs" value="" name="endh" />
        <input placeholder="min" value="" name="endm" /></br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>